<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
  So here's the deal, yo...  People been talkin', and the word on the street is that <%= (@sender.nickname || @sender.name) %>
  <%= @verb %> on the slopes of Pong Mountain.
<p/>
  Did that actually happen?
  <br/>
  Yea?  Click here: <%= @url %>
<p/>
  Otherwise, go burn their house down.
</body>
</html>